@font-face {
  font-family: "overskrift2";
  src: url(fonte/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "overskrift1";
  src: url(fonte/Kanit/Kanit-Bold.ttf);
}

@font-face {
  font-family: "h2er";
  src: url(fonte/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
  font-family: "ups";
  src: url(fonte/Poppins/Poppins-LightItalic.ttf);
}

@font-face {
  font-family: "h3er";
  src: url(fonte/Raleway/static/Raleway-Medium.ttf);
}

h1 {
  font-family: "overskrift1";
  color: #d76ea5;
}

h2 {
  font-family: "h2er";
  color: #7dbdf5;
  font-size: 2rem;
}

h3 {
  font-family: "h3er";
  color: #e8a0c6;
  font-size: 1.7rem;
}

p {
  font-family: "overskrift2";
  font-size: 1.2rem;
  color: #0d5db9;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: center;
  }
}

.toggle-btn .close {
  display: none;
}

.pressed .close {
  display: block;
}

.pressed .menubtn {
  display: none;
}

/*Footer*/

.instabillede {
  width: 15%;
}

footer {
  margin: 5%;
}

.footer-style {
  padding: 1px 300px;
  background-color: #dadee2;
}

.footerstyle {
}
