* {
  box-sizing: border-box;
}

body {
  background-image: url(img/baggrund.png);
}

header nav ul {
  display: flex;
  list-style: none;
  padding-bottom: 0.4rem;
  gap: 50px;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

a {
  font-family: "overskrift1";
  color: #1784ff;
  text-decoration: none;
  font-size: 1.5rem;
  float: right;
}

header {
  position: sticky;
  top: 0;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 45%;
}

img.navn {
  width: 70%;
}

iframe {
  width: 100%;
  height: 800px;
}

@media (min-width: 600px) {
  /*computer*/
  .grid_1 {
    width: 80%;
    margin: 70px;
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  iframe {
    width: 50%;
    height: 800px;
    position: relative;
    left: 5%;
  }

  .cvbillede {
    width: 50%;
    position: relative;
    left: 80%;
  }

  img.navn {
    width: 150%;
  }
}
