body {
  background-color: #f0f2f4;
  margin: 10px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-bottom: 0.4rem;
  gap: 50px;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

a {
  font-family: "overskrift1";
  color: #1784ff;
  text-decoration: none;
  font-size: 1.5rem;
  float: right;
}

header {
  position: sticky;
  top: 0;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  color: #e8a0c6;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-family: "overskrift1";
}

.moodboard {
  width: 70%;
}

.styletile {
  width: 70%;
}

img {
  width: 45%;
}

li {
  font-family: "overskrift2";
  font-size: 1rem;
  color: #d76ea5;
}

h1 {
  text-align: center;
  border: 0px solid #d76ea5;
  font-size: 2rem;
}

.temabeskrivelsetekst,
.styletiletekst {
  margin: -8%;
  padding: 12%;
  line-height: 2.3;
}

.moodboardtekst {
  line-height: 2.3;
}

@media (min-width: 600px) {
  /*computer*/

  h1 {
    text-align: center;
    padding: 120px;
    font-size: 4rem;
    background-color: #f0dde9;
  }
  .grid_1,
  .grid_2 {
    margin: 10%;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
  }

  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
    gap: 12%;
  }

  body {
    margin: 30px;
    padding: 40px;
  }

  .styletile {
    width: 73%;
    grid-column: 1/2;
    grid-row: 1/1;
  }

  .moodboard {
    grid-column: 2/2;
    grid-row: 2/1;
    width: 100%;
  }

  .overskrift {
    margin: 10%;
    color: #e8a0c6;
    font-size: 2rem;
  }

  .stilarttekst {
    line-height: 2.3;
  }
}
